In [1]:
import pickle
import pandas as pd

In [3]:
# 적용 
x1 = input('계약 유형을 입력하시오. : ')
x2 = input('유입 경로를 입력하시오. : ')
x3 = input('계약 기간을 입력하시오. : ')
x4 = input('월 납부액을 입력하시오. : ')
x5 = input('고객의 연령 입력하시오. : ')
x6 = input('신용 등급을 입력하시오. : ')
input_data = pd.DataFrame([[x1,x2,x3,x4,x5,x6]], 
        columns=['Sales_Type','Channel','Term','Amount_Month','Age','Credit_Rank'] )

계약 유형을 입력하시오. : 렌탈
유입 경로를 입력하시오. : 영업방판
계약 기간을 입력하시오. : 12
월 납부액을 입력하시오. : 100000
고객의 연령 입력하시오. : 30
신용 등급을 입력하시오. : 1

In [8]:
input_data

  Sales_Type Channel Term Amount_Month Age Credit_Rank
0         렌탈    영업방판   12       100000  30           1

In [10]:
model = pickle.load(open('model.sav','rb'))
model

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('pipeline-1',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='medilan')),
                                                                  ('minmaxscaler',
                                                                   MinMaxScaler())]),
                                                  ['Term', 'Amount_Month',
                                                   'Age', 'Credit_Rank']),
                                                 ('pipeline-2',
                                                  Pipeline(steps=[('simpleimputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehotencoder',
                                                                   OneHotEncoder())]),
                                                  ['Sales_Type', 'Channel'])])),
                ('decisiontreeclassifier', DecisionTreeClassifier())])