In [3]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns 
import scipy.stats as stats 
import plotly.express as px 

mpl.rc('font', family='Malgun Gothic')

# Mission 3. 
* 판매 주력상품에 대한 분석을 실시하고자 한다. (df_product)

In [4]:
df_member   = pd.read_csv('1_store_member.csv') 
df_product  = pd.read_csv('2_store_product.csv')

In [5]:
# 1) df_product에서 물품대분류 중 가장 많이 판매되는 3가지 항목을 확인하시오.
#     (품목 별 구매수량의 합이 높은 3가지 항목을 확인)

In [6]:
df_product['물품대분류'].value_counts()

채소       193170
축산물      134486
간식       111411
반찬        89534
수산        52608
양념/가루     35086
음료        30935
생활용품      27520
과실        21324
서류        12596
주곡        10324
잡곡         8922
건강         6894
주류          904
기타           64
베이커리          3
급식용           2
Name: 물품대분류, dtype: int64

In [8]:
# 2) 앞서 확인 물품대분류 3가지 항목을 추출하여 df1_product_top으로 선언하고, 
#     df1_product_top에서 구매매장 별 구매금액의 합과 평균을 계산하시오.
df_product['물품대분류'].value_counts().head(3)

채소     193170
축산물    134486
간식     111411
Name: 물품대분류, dtype: int64

In [9]:
df_product['물품대분류'].value_counts().head(3).index

Index(['채소', '축산물', '간식'], dtype='object')

In [10]:
top_list = df_product['물품대분류'].value_counts().head(3).index.tolist()
cond1 = df_product['물품대분류'].isin(top_list)
df_product.loc[cond1]

,공급일자,물품코드,물품대분류,물품중분류,물품소분류,물품명,구매수량,구매금액,구매매장,반품_원거래일자,회원번호
0,20170201,50142001,채소,잎/줄기채소,시금치,시금치(300g),1.0,2000,매장3,NaN,2101.0
1,20170201,60302012,축산물,육가공,돈가스/분쇄가공,튀김옷돈가스(400g),1.0,6300,매장3,NaN,2101.0
2,20170201,80301002,간식,밀가공,라면,감자라면(110g:1봉),2.0,2600,매장3,NaN,2101.0
3,20170201,80301010,간식,밀가공,라면,사리면(100g),1.0,900,매장3,NaN,2101.0
4,20170201,80305003,간식,밀가공,만두,고기만두(500g),1.0,5400,매장3,NaN,2101.0
...,...,...,...,...,...,...,...,...,...,...,...
735772,20170630,50217001,채소,열매채소,청양고추,청양고추(100g),1.0,1540,매장3,NaN,2637.0
735773,20170630,50706003,채소,버섯,팽이버섯,팽이버섯(150g),1.0,660,매장3,NaN,2637.0
735774,20170630,60302021,축산물,육가공,햄/소시지/훈제,꼬마소시지(300g)-매장,1.0,4620,매장3,NaN,2637.0
735775,20170630,80101031,간식,과자,스낵,누룽지(소:90g),1.0,1430,매장3,NaN,2637.0
735776,20170630,80101060,간식,과자,스낵,누룽지(300g),1.0,4180,매장3,NaN,2637.0

In [11]:
df_product.loc[cond1].pivot_table(index='구매매장',values='구매금액',
                                 aggfunc=['sum','mean'])

            sum         mean
           구매금액         구매금액
구매매장
매장1   363985400  4770.638426
매장2   461745602  4908.271082
매장3   916748142  4949.910326
매장4   419048570  5019.146844

In [ ]:
# 3) 공급일자 데이터를 날짜형식으로 pd.to_datetime( df_product['공급일자'], format= '%Y%m%d' ) 변환한 다음,
#    연도/월/요일을 새로운 항목으로 선언 하시오.

In [12]:
df_product['공급일자_dt'] = pd.to_datetime(df_product['공급일자'], format='%Y%m%d')
df_product['공급연도']    = df_product['공급일자_dt'].dt.year
df_product['공급월']    = df_product['공급일자_dt'].dt.month
df_product['공급요일']    = df_product['공급일자_dt'].dt.day_name()

In [13]:
# 4) '월'에 따른 물품 대분류 별 구매금액의 합을 계산하시오. 
df_product.pivot_table(index='공급월',columns='물품대분류',values='구매금액',
                      aggfunc='sum')

물품대분류,간식,건강,과실,급식용,기타,반찬,베이커리,생활용품,서류,수산,양념/가루,음료,잡곡,주곡,주류,채소,축산물
공급월,,,,,,,,,,,,,,,,,
1,83859470.0,35891780.0,59004590.0,NaN,NaN,51215050.0,4800.0,36247670.0,8844300.0,78142080.0,48352890.0,30265700.0,10921400.0,23087900.0,1316950.0,91066225.0,188293390.0
2,71251375.0,22961390.0,41991101.0,0.0,NaN,39693450.0,NaN,35709810.0,9466150.0,55114410.0,47935440.0,21211240.0,13944600.0,21560400.0,1052300.0,81147475.0,163340810.0
3,72170465.0,31185220.0,39356364.0,NaN,0.0,49572430.0,0.0,52518770.0,11006950.0,63767950.0,48135260.0,28628400.0,11105900.0,26446700.0,1160450.0,96970600.0,199143950.0
4,70660080.0,29584370.0,34464440.0,NaN,0.0,43759830.0,NaN,45890520.0,7227100.0,59544090.0,40487070.0,29411680.0,9596800.0,25019500.0,1145300.0,98635620.0,186156660.0
5,71680155.0,28711570.0,26769710.0,NaN,0.0,42773580.0,NaN,38928265.0,7672440.0,50530065.0,44017738.0,29671415.0,8822800.0,23107130.0,959300.0,109519818.0,193004435.0
6,78346946.0,23418244.0,32265420.0,NaN,0.0,46789020.0,NaN,40105510.0,8752440.0,54333530.0,51126580.0,38875352.0,9861120.0,23827320.0,1251030.0,120914240.0,185366000.0

In [15]:
# 5) 가장 판매량이 높은 요일을 확인 (요일 별 구매금액의 합을 확인)
df_product.pivot_table(index='공급요일',values='구매금액',
                       aggfunc='sum').sort_values(by='구매금액',ascending=False)

                구매금액
공급요일
Monday     747139060
Thursday   678745315
Friday     638046105
Wednesday  629856469
Tuesday    610254061
Saturday   557242936
Sunday     315763842

In [25]:
# 6) df_product에서 토요일과 일요일의 '구매금액'의 평균의 차이가 있는가?
df_product['공급일자_dt'] = pd.to_datetime(df_product['공급일자'], format='%Y%m%d')
df_product['공급요일']    = df_product['공급일자_dt'].dt.day_name()
df_product['공급요일'].unique()

array(['Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday',
       'Tuesday'], dtype=object)

In [28]:
cond1 = df_product['공급요일'].isin(['Saturday', 'Sunday'])
df_weekend = df_product.loc[cond1]

In [30]:
import scipy.stats as stats

In [31]:
# 6-1) 구매금액의 분포가 정규분포를 따르는가?
# 귀무 : 구매금액의 분포가 정규분포와 같다. 
# 대립 : 구매금액의 분포가 정규분포와 다르다.
stats.normaltest(df_weekend['구매금액'])
# P.value < 0.05(5%) / 대립가설 참 / 구매금액의 분포가 정규분포와 다르다.

NormaltestResult(statistic=250963.257085467, pvalue=0.0)

In [32]:
# 6-2) 두 집단(토요일과 일요일)의 구매금액의 평균의 차이가 있는가? 
cond1 = df_weekend['공급요일']=='Sunday'
cond2 = df_weekend['공급요일']=='Saturday'
# 귀무 : 두 집단(토요일과 일요일)의 구매금액의 평균의 차이가 없다.
# 대립 : 두 집단(토요일과 일요일)의 구매금액의 평균의 차이가 있다.
stats.ranksums(df_weekend.loc[cond1]['구매금액'], df_weekend.loc[cond2]['구매금액'] )
# P.value < 0.05 / 대립가설 참

RanksumsResult(statistic=3.0474877976155326, pvalue=0.002307628950574978)

* 고객 데이터 분석을 실시하고자 한다. (df1) 
8) 결혼유무에서 '기혼'에 해당하는 고객들 중, 방문횟수가 높은 상위 30명의 고객 명단을 추출하여 result_member.xlsx 저장

In [17]:
p1 = df_product.pivot_table(index='회원번호',values=['구매금액','구매수량'],aggfunc='sum').reset_index()

In [18]:
m1 = pd.merge(df_member, p1, on='회원번호', how='inner')

In [19]:
df_product['방문횟수'] = 1  # '방문횟수' 새로운 항목을 1값을 넣어 생성

In [20]:
p2 = df_product.pivot_table(index=['회원번호','공급일자'],values='방문횟수',aggfunc='min').reset_index()

In [21]:
p3 = p2.pivot_table(index='회원번호',values='방문횟수', aggfunc='sum').reset_index()
df1 = pd.merge(m1, p3, on='회원번호',how='inner')
df1.head(2)

   회원번호  회원상태 성별 결혼유무               주소    생년  연령     구매금액   구매수량  방문횟수
0  2101  정상회원  여   기혼  서울 강북구 미아동 134-  1967  51  1991230  382.0    86
1  2102  정상회원  여  NaN   경기 용인시 수지구 동천동  1947  71  2095860  472.5    79

In [22]:
# 7) 고객데이터(df1)에서 '성별'에 따른 '구매금액'의 평균의 차이가 있는지 가설검정 수행 
# 7-1) '구매금액'의 정규성 검정 
stats.normaltest(df1['구매금액'])

NormaltestResult(statistic=3847.8326897574975, pvalue=0.0)

In [26]:
# 7-2) 
cond1 = (df1['성별']=='남')
cond2 = (df1['성별']=='여')
df1_man = df1.loc[cond1]
df1_woman = df1.loc[cond2]

In [27]:
stats.ranksums(df1_man['구매금액'], df1_woman['구매금액'])

RanksumsResult(statistic=-1.6355929135561293, pvalue=0.10192481447327584)

In [30]:
# 8) 결혼유무에서 '기혼'에 해당하는 고객들 중, 방문횟수가 높은 상위 30명의 고객 명단을
#    추출하여 result_member.xlsx 저장 
df1.loc[(df1['결혼유무']=='기혼') & (df1['방문횟수']>=30)].to_excel('result_member.xlsx')