<a href="https://colab.research.google.com/github/qazxcv3323/Python_Study/blob/main/Machine_Learning/Data_Station/Machine_learning_Day_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* 점포 별 판매량
* 상품의 종류를 나누어 표현 !
* 가장 많이 팔린 점포만 확인 !

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

mpl.rc('font', family='Malgun Gothic')

In [2]:
df1 = pd.read_csv('/content/drive/MyDrive/data_station/Data09.csv', encoding='cp949')
print(df1.shape)
df1.head(5)

(117, 646)

,순번,상품코드,상품명,합계,(1154)의정부점,(1155)별내점,(1156)풍산점,(1157)김포한강점,(1158)세종점,(1159)킨텍스점,...,(L21)위시티점,(L23)걸포동점,(L27)통일동산점,(L35)성대점,(L36)병점점,(L38)율전점,(L39)본오점,(L40)검암점,(L44)신길점,(L46)용호점
0,NaN,NaN,NaN,수량,수량,수량,수량,수량,수량,수량,...,수량,수량,수량,수량,수량,수량,수량,수량,수량,수량
1,NaN,NaN,합 계,"2,029,096","6,829","8,374","12,626","11,767","10,912","7,062",...,"2,392","1,291","4,506","2,364","2,739","1,782","3,129","1,712","3,189","2,347"
2,1.0,1801828.0,BW1 473ml캔(수입),"65,402",174,239,432,199,220,263,...,0,25,76,72,54,72,15,38,27,89
3,2.0,1801859.0,BW1 355ml (낱캔),1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3.0,40786179.0,RB 500ml,"2,158",4,9,10,27,0,11,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df1.columns

Index(['순번', '상품코드', '상품명', ' 합계', '(1154)의정부점', '(1155)별내점', '(1156)풍산점',
       '(1157)김포한강점', '(1158)세종점', '(1159)킨텍스점',
       ...
       '(L21)위시티점', '(L23)걸포동점', '(L27)통일동산점', '(L35)성대점', '(L36)병점점',
       '(L38)율전점', '(L39)본오점', '(L40)검암점', '(L44)신길점', '(L46)용호점'],
      dtype='object', length=646)

In [4]:
stack_data = pd.DataFrame(df1.drop(columns=['순번', '상품코드']).set_index('상품명').stack())
df2 = stack_data.reset_index()

# pandas Melt

In [5]:
region_list = df1.columns.tolist()[4:]

In [6]:
pd.melt(df1, id_vars=['상품명'], value_vars=region_list)

                            상품명    variable  value
0                           NaN  (1154)의정부점     수량
1                           합 계  (1154)의정부점  6,829
2                BW1 473ml캔(수입)  (1154)의정부점    174
3                BW1 355ml (낱캔)  (1154)의정부점      0
4                      RB 500ml  (1154)의정부점      4
...                         ...         ...    ...
75109  CAT1 355ml*12캔+카카오 에코백+치    (L46)용호점      0
75110     CAT2 355*24캔 + 진라면 6캔    (L46)용호점      0
75111               CAT2 1.6L*6    (L46)용호점      0
75112                 CAT2 1.6L    (L46)용호점    122
75113                 CAT1 1.6L    (L46)용호점     24

[75114 rows x 3 columns]

In [7]:
cond1 = (df2['상품명'].isnull())
cond2 = (df2['상품명'] != '합 계')
cond3 = (df2['level_1'] != '합 계')
df3 = df2.loc[(~cond1) & (cond2)& (cond3)]
df4 = df3.rename(columns = {'level_1': '점포명', 0:'판매량'})
df4.head(3)

                 상품명         점포명     판매량
1286  BW1 473ml캔(수입)          합계  65,402
1287  BW1 473ml캔(수입)  (1154)의정부점     174
1288  BW1 473ml캔(수입)   (1155)별내점     239

In [8]:
df4['상품명'].unique

<bound method Series.unique of 1286     BW1 473ml캔(수입)
1287     BW1 473ml캔(수입)
1288     BW1 473ml캔(수입)
1289     BW1 473ml캔(수입)
1290     BW1 473ml캔(수입)
              ...
75226         CAT1 1.6L
75227         CAT1 1.6L
75228         CAT1 1.6L
75229         CAT1 1.6L
75230         CAT1 1.6L
Name: 상품명, Length: 73945, dtype: object>

In [9]:
def func1(row):
  
  if 'CAT' in row:
    return 'C Type'
  elif 'STL' in row:
    return 'S type'
  elif 'BW' in row:
    return 'B type'
  else:
    return 'Non Type'
  
  return row[:4]

df4['제품군'] = df4['상품명'].apply(func1)

In [10]:
df4

                  상품명          점포명     판매량     제품군
1286   BW1 473ml캔(수입)           합계  65,402  B type
1287   BW1 473ml캔(수입)   (1154)의정부점     174  B type
1288   BW1 473ml캔(수입)    (1155)별내점     239  B type
1289   BW1 473ml캔(수입)    (1156)풍산점     432  B type
1290   BW1 473ml캔(수입)  (1157)김포한강점     199  B type
...               ...          ...     ...     ...
75226       CAT1 1.6L     (L38)율전점      54  C Type
75227       CAT1 1.6L     (L39)본오점      28  C Type
75228       CAT1 1.6L     (L40)검암점       9  C Type
75229       CAT1 1.6L     (L44)신길점      28  C Type
75230       CAT1 1.6L     (L46)용호점      24  C Type

[73945 rows x 4 columns]

In [11]:
df4['제품군'].value_counts()

Non Type    44367
C Type      17361
B type       6430
S type       5787
Name: 제품군, dtype: int64

In [12]:
cond1 = (df4['제품군'] !='Non Type')

df5 = df4.loc[cond1]

In [13]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29578 entries, 1286 to 75230
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상품명     29578 non-null  object
 1   점포명     29578 non-null  object
 2   판매량     29578 non-null  object
 3   제품군     29578 non-null  object
dtypes: object(4)
memory usage: 1.1+ MB

In [14]:
def func2(row):
  if len(row) >= 4:
    result = row.split(',')
    return result[0] + result[1]
  else:
    return row

df5['판매량(int)'] = (df5['판매량'].apply(func2)).astype('int')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
df6 = df5.pivot_table(index=['점포명', '제품군'], values='판매량(int)', aggfunc='sum').reset_index()
df7 = df6.sort_values(by='판매량(int)', ascending=False).head(200)
df7.to_csv('result_0219.csv')

In [16]:
import plotly.express as px

In [21]:

df7 = df7[3:]

In [22]:
fig = px.bar(df7, x='점포명', y='판매량(int)', color = '제품군')
fig.show()

In [24]:
pip install dash

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dash
  Downloading dash-2.6.2-py3-none-any.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 13.0 MB/s
Requirement already satisfied: plotly>=5.0.0 in /usr/local/lib/python3.7/dist-packages (from dash) (5.5.0)
Collecting dash-html-components==2.0.0
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-table==5.0.0
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: Flask>=1.0.4 in /usr/local/lib/python3.7/dist-packages (from dash) (1.1.4)
Collecting flask-compress
  Downloading Flask_Compress-1.13-py3-none-any.whl (7.9 kB)
Collecting dash-core-components==2.0.0
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.0.1)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (2.11.3)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (7.1.2)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=1.0.4->dash) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=1.0.4->dash) (2.0.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly>=5.0.0->dash) (8.1.0)
Collecting brotli
  Downloading Brotli-1.0.9-cp37-cp37m-manylinux1_x86_64.whl (357 kB)
     |████████████████████████████████| 357 kB 67.0 MB/s
Installing collected packages: brotli, flask-compress, dash-table, dash-html-components, dash-core-components, dash
Successfully installed brotli-1.0.9 dash-2.6.2 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 flask-compress-1.13

In [25]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

df1 = pd.read_csv('/content/drive/MyDrive/data_station/dash/result0219.csv')

fig = px.bar(df1, x="지점", y="수량(int)", color="제품타입")

app.layout = html.Div(children=[
    html.H1(children='Dsah Board'),

    html.Div(children='''
        작업 대쉬 보드 
    '''),

    dcc.Graph(
        id='example-graph',
        figure=fig
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning:


The dash_core_components package is deprecated. Please replace
`import dash_core_components as dcc` with `from dash import dcc`

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning:


The dash_html_components package is deprecated. Please replace
`import dash_html_components as html` with `from dash import html`

Dash is running on http://127.0.0.1:8050/

INFO:__main__:Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

SystemExit: ignored

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3334: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.